.form-title {
  margin-bottom: 38px;
}

.filter-form {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
}

.form-bottom {
  width: 100%;
}

.btn-clear {
  width: 86px;
  float: right;
}

.select-field {
  display: flex;
  margin-bottom: 12px;
  align-items: flex-start;
}

.arrow-icon {
  padding: 7px 8px;
  background: #5692e8;
}

.arrow-icon svg {
  display: flex;
  font-size: 22px;
}

.selected {
  display: flex;
  cursor: pointer;
  padding-left: 10px;
  align-items: center;
  justify-content: space-between;
}

.visible {
  display: flex;
  padding: 8px 18px;
}

.not-visible {
  display: none;
}

.select {
  width: 100%;
  border: none;
  font-size: 13px;
  padding: 10px 8px;
  position: relative;
  font-family: "Mulish";
  background-color: var(--input-background);
}

.dropdown {
  left: 0px;
  z-index: 2;
  width: 100%;
  opacity: 0.9;
  padding: 14px 0;
  position: absolute;
  flex-direction: column;
  background-color: var(--input-background);
}

.dropdown input {
  width: auto;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 0px;
  font-family: "Mulish";
}

@media screen and (max-width: 1024px) and (min-width: 541px) {
  .form-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .form-bottom input {
    margin: 0;
  }
  .score-input {
    flex: 0.3;
  }
  .order-input {
    flex: 0.6;
  }
  .select-field {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 540px) {
  .btn-clear {
    width: 100%;
  }
}
