.container {
  display: flex;
  padding: 0 90px;
  flex-direction: row;
}

.filter {
  flex: 10;
  margin: 10px 0;
  padding: 15px 20px;
  height: fit-content;
  margin-bottom: 50px;
  background-color: var(--card-background);
}

.card-conatiner {
  flex: 30;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 20px;
    flex-direction: column;
  }

  .filter {
    flex: 1;
  }

  .card-conatiner {
    flex: 1;
    padding-left: 0;
  }
}
